@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;700 & display=swap');

* {
        margin: 0; 
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
}

header {
        margin-top: 47px;
        margin-left: 42px;
        letter-spacing: 0.88px;
}

.link-header {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.88px;
        align-self: center;
        margin-right: 32px;
        cursor: pointer;
}

.button-header {
        width: 124px;
        height: 51px;
        background: #4cb538;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.88px;
        color: #ffffff;
        border-radius: 3px;
        cursor: pointer;

}

main {
        margin-left: 121px;
        margin-top: 177px;
        display: inline-block;
}


.logo-image2 {
        width: 595px;
        height: 500px;
        display: inline-block;
        
        
        
}

div {
        margin-left: 84.98px;
        display: inline-block;

}

h1 {
        
        width: 582px;
        height: 164px;
        font-weight: 700;
        font-size: 62px;
        line-height: 82px;
        letter-spacing: 0.6px;
        color: #161a49;
        margin-bottom: 47px;

}

p {
        width: 493px;
        height: 99px;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        color: #4b505a;
        margin-bottom: 55px;
        
}

a {
        width: 112px;
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        color: #4cb538;
        cursor: pointer;
        

}

@media screen and (max-width: 500px){


 *{
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;

 }       
            
h1 {
        width: 278px;
        height: 60px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        margin-top: 124px;
        display: block;
        text-align: center;
        margin-left: -12%;
        
}

p {
        width: 304px;
        height: auto;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        margin-left: -17%;

}

.logo-image2 {
        width: 312px;
        height: 200; 
        margin-top: 60%;
        display: inline;
        margin-left: -17%;
}

div {
        display: block;
        margin: 124px auto 0;
        position: relative;
        margin-top: -300%;
        text-align: center;
        padding: 10px;      
}

.meu-link {
        margin-left: -40%;
        margin-bottom: -100%;
}

.link-header {
        display: none;
        color: #ffffff;
}

.button-header {
        margin-left: 80%;
        width: 91px;
        height: 31px;
        border-radius: 6px;
        margin-top: -150%;
        border: none;
        cursor: pointer;
}

hearder{
        margin-top: -110%;
}

}
        






